<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.gemoc.gemoc_language_workbench.xdsml">
    <XDSML_Definition name="ConcurrentTFSM" xdsmlFilePath="/org.eclipse.gemoc.example.moccml.tfsm/concurrentTFSM.dsl" modelLoader_class="org.eclipse.gemoc.executionframework.extensions.sirius.modelloader.DefaultModelLoader" />
  </extension>
  <extension point="org.eclipse.gemoc.gemoc_language_workbench.moccml.xdsml.addition">
    <MOCCML_XDSML_Addition name="ConcurrentTFSM" referencedXDSMLName="ConcurrentTFSM" codeExecutor_class="oncurrenttfsm.xdsml.api.impl.OncurrentTFSMCodeExecutor" solver_class="org.eclipse.gemoc.execution.concurrent.ccsljavaengine.extensions.timesquare.moc.impl.CcslSolver" toCCSLQVTOFilePath="/org.eclipse.gemoc.example.moccml.tfsm.moc.dse/qvto-gen/modeling/TFSM.qvto" />
  </extension>
</plugin>
