<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2017 INRIA and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        INRIA - initial API and implementation
        I3S Laboratory - API update and bug fix
 -->

<plugin>

   <extension-point id="org.eclipse.gemoc.gemoc_language_workbench.deciders" name="GEMOC Decider for concurrent executable languages" schema="schema/org.eclipse.gemoc.gemoc_language_workbench.decider.exsd"/>
   <extension-point id="org.eclipse.gemoc.gemoc_language_workbench.moccml.xdsml" name="Gemoc Moccml Language Definition" schema="schema/org.eclipse.gemoc.gemoc_language_workbench.concurrent.xdsml.exsd"/>

</plugin>
