<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

<extension
point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="true"
            category="org.eclipse.ui.Examples/org.eclipse.gemoc.gemoc_language_workbench.samples.category"
            class="org.eclipse.gemoc.execution.moccml.lwb.example.deployer.wizards.SigPMLExampleWizard"
            finalPerspective="org.eclipse.gemoc.xdsmlframework.ide.ui.xdsml.perspective"
            hasPages="false"
            icon="icons/IconeGemocLanguage-16.png"
            id="org.eclipse.gemoc.ale.language.wb.sample.deployer.fsm.wizard"
            name="GEMOC MoccmlSigPML Language"
            preferredPerspectives="org.eclipse.gemoc.xdsmlframework.ide.ui.xdsml.perspective">
         <description>
           SigPML language implementation using MOCCML
         </description>
</wizard> 

      <wizard
            canFinishEarly="true"
            category="org.eclipse.ui.Examples/org.eclipse.gemoc.gemoc_modeling_workbench.samples.category"
            class="org.eclipse.gemoc.execution.moccml.mwb.example.deployer.wizards.SigPMLExampleWizard"
            finalPerspective="org.eclipse.gemoc.xdsmlframework.ide.ui.xdsml.perspective"
            hasPages="false"
            icon="icons/IconeGemocModel-16.png"
            id="org.eclipse.gemoc.ale.language.wb.sample.deployer.fsm.wizard"
            name="GEMOC models for MoccmlSigPML Language"
            preferredPerspectives="org.eclipse.gemoc.xdsmlframework.ide.ui.xdsml.perspective">
         <description>
           SigPML model example for SigPML language implementation using MOCCML
         </description>
</wizard> 
</extension>

</plugin>
