<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2017 INRIA and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        INRIA - initial API and implementation
 *     I3S Laboratory - API update and bug fix
 -->

<plugin>

   <!-- definitions of launch menu -->
   	<extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.eclipse.gemoc.execution.concurrent.ccsljavaengine.ui.launcher.MoccmlLauncher"
            id="org.eclipse.gemoc.execution.concurrent.ccsljavaengine.ui.launcher"
            modes="run, debug"
            name="GEMOC Moccml Concurrent eXecutable Model"
            public="true"
            sourceLocatorId="org.eclipse.gemoc.execution.concurrent.ccsljavaengine.ui.sourceLocator">
      </launchConfigurationType>
   </extension>
   
   <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <launchConfigurationTypeImage
        icon="icons/IconeGemocModel-16.png"
        configTypeID="org.eclipse.gemoc.execution.concurrent.ccsljavaengine.ui.launcher"
        id="org.eclipse.gemoc.execution.concurrent.ccsljavaengine.ui.launcher.image">
    </launchConfigurationTypeImage>
	</extension>
	   <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
	    <launchConfigurationTabGroup
           class="org.eclipse.gemoc.execution.concurrent.ccsljavaengine.ui.launcher.MoccmlLauncherTabGroup"
           id="org.eclipse.gemoc.execution.concurrent.ccsljavaengine.ui.launcher.tabGroup"
           type="org.eclipse.gemoc.execution.concurrent.ccsljavaengine.ui.launcher">
	    </launchConfigurationTabGroup>
	</extension>
    <extension
          point="org.eclipse.core.expressions.propertyTesters">
       <propertyTester
             class="org.eclipse.gemoc.execution.concurrent.ccsljavaengine.ui.propertytesters.GemocConcurrentPropertyTester"
             id="org.eclipse.gemoc.execution.concurrent.ccsljavaengine.ui.propertytesters.GemocConcurrentPropertyTester"
             namespace="org.eclipse.gemoc.execution.concurrent.ccsljavaengine.ui.propertytesters"
             properties="isModel, isExecutableDomainSpecificModel"
             type="org.eclipse.core.runtime.IAdaptable">
       </propertyTester>
    </extension>
	<extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.eclipse.gemoc.execution.concurrent.ccsljavaengine.ui.launcher.MoccmlLauncher"
            description="Create a configuration to launch an Eclipse application in debug mode."
            icon="icons/IconeGemocModel-16.png"
            id="org.eclipse.gemoc.execution.concurrent.ccsljavaengine.ui.GemocExecutableReflectiveModel"
            label="Gemoc Moccml eXecutable Model"
            modes="run, debug">
         <configurationType
               id="org.eclipse.gemoc.execution.concurrent.ccsljavaengine.ui.launcher">
         </configurationType>
         <contextualLaunch>
            <enablement>
            	<with variable="selection">
		     		<count value="1"/>
	      			<iterate>
	       				<or>
	        				<test property="org.eclipse.gemoc.execution.concurrent.ccsljavaengine.ui.propertytesters.isExecutableDomainSpecificModel"/>
	        				<test property="org.eclipse.debug.ui.matchesPattern"
	                        	value="*.xmi">
	                     	</test>
	        			</or>
	      			</iterate>
		     </with>
            </enablement>
            <contextLabel
                  label="Gemoc Moccml Concurrent eXecutable Model"
                  mode="run">
            </contextLabel>
            <contextLabel
                  label="Gemoc Moccml Concurrent eXecutable Model"
                  mode="debug">
            </contextLabel>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.eclipse.gemoc.execution.concurrent.ccsljavaengine.ui.debug.sirius.action.GemocDebugAs"
            id="org.eclipse.gemoc.execution.concurrent.ccsljavaengine.ui.debug.sirius.action.gemocDebugAs">
      </javaActions>
      <javaActions
            actionClass="org.eclipse.gemoc.execution.concurrent.ccsljavaengine.ui.debug.sirius.action.GemocConcurrentToggleBreakpointAction"
            id="org.eclipse.gemoc.execution.concurrent.ccsljavaengine.ui.debug.sirius.action.GemocConcurrentToggleBreakpointAction">
      </javaActions>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            class="org.eclipse.gemoc.execution.concurrent.ccsljavaengine.ui.launcher.GemocSourceLocator"
            id="org.eclipse.gemoc.execution.concurrent.ccsljavaengine.ui.sourceLocator"
            name="Gemoc Source Locator">
      </sourceLocator>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <actionSet
               id="org.eclipse.debug.ui.launchActionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.sirius.ui.tools.perspective.modeling">

       
         <view
               id="org.eclipse.gemoc.gemoc_modeling_workbench.concurrent.ui.views.stimulimanager.StimuliManagerView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ContentOutline"
               visible="true">
         </view>
         <view
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet"
               visible="true">
         </view>
     
         <viewShortcut
               id="org.eclipse.gemoc.gemoc_modeling_workbench.concurrent.ui.views.stimulimanager.StimuliManagerView">
         </viewShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <view
               id="org.eclipse.gemoc.gemoc_modeling_workbench.concurrent.ui.views.stimulimanager.StimuliManagerView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ContentOutline"
               visible="true">
         </view>
       
         <viewShortcut
               id="org.eclipse.gemoc.gemoc_modeling_workbench.concurrent.ui.views.stimulimanager.StimuliManagerView">
         </viewShortcut>
      
      </perspectiveExtension>
      
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="org.eclipse.gemoc.execution.concurrent.ccsljavaengine.ui.category"
            type="new"
            wizardId="org.eclipse.gemoc.gemoc_modeling_workbench.concurrent.ui.wizards.CreateNewGemocModelingProject">
         <enablement>
            <with
                  variable="activeWorkbenchWindow.activePerspective">
               <equals
                     value="org.eclipse.sirius.ui.tools.perspective.modeling">
               </equals>
            </with>
         </enablement>
      </commonWizard>
   </extension>
   
      <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="org.eclipse.gemoc.modeling.advanced.menu.contribution">
         <menu
               icon="icons/IconeGemocModel-16.png"
               id="org.eclipse.gemoc.modeling.advanced.menu"
               label="GEMOC Moccml Modeling advanced tools"
               path="xdsmlGroup">
            <separator
                  name="additions">
            </separator>
         </menu>
         <action
               label="Generate extended CCSL (use language specified QVTO)"
               class="org.eclipse.gemoc.execution.concurrent.ccsljavaengine.ui.actions.GenerateExtendedCCSLFile"
               menubarPath="org.eclipse.gemoc.modeling.advanced.menu/additions"
               id="org.eclipse.gemoc.modeling.generate.extendedccsl">
         </action>
         <action
               class="org.eclipse.gemoc.execution.concurrent.ccsljavaengine.ui.actions.ChooseQVTOAndGenerateExtendedCCSLFile"
               id="org.eclipse.gemoc.modeling.generate.extendedccsl2"
               label="Generate extended CCSL (choose QVTO)"
               menubarPath="org.eclipse.gemoc.modeling.advanced.menu/additions">
         </action>

         <action
               label="Generate time model (use language specified QVTO)"
               class="org.eclipse.gemoc.execution.concurrent.ccsljavaengine.ui.actions.GenerateTimeModelFile"
               menubarPath="org.eclipse.gemoc.modeling.advanced.menu/additions"
               id="org.eclipse.gemoc.modeling.generate.extendedccsl">
         </action>
         <action
               class="org.eclipse.gemoc.execution.concurrent.ccsljavaengine.ui.actions.ChooseQVTOAndGenerateTimeModelFile"
               id="org.eclipse.gemoc.modeling.generate.extendedccsl2"
               label="Generate time model (choose QVTO)"
               menubarPath="org.eclipse.gemoc.modeling.advanced.menu/additions">
         </action>

      </objectContribution>
   </extension>
      <extension
            point="org.eclipse.ui.commands">
         <command
               defaultHandler="org.eclipse.gemoc.execution.concurrent.ccsljavaengine.ui.commands.GemocToggleBreakpointHandler"
               id="org.eclipse.gemoc.execution.concurrent.ccsljavaengine.ui.ToggleBreapointCommand"
               name="Toggle breakpoint (concurrent)">
         </command>
      </extension>
      <extension
            point="org.eclipse.ui.menus">

         <menuContribution
               allPopups="false"
               locationURI="popup:org.eclipse.gemoc.gemoc_modeling_workbench.concurrent.ui.views.stimulimanager.StimuliManagerView">
            <command
                  commandId="org.eclipse.gemoc.execution.concurrent.ccsljavaengine.ui.ToggleBreapointCommand"
                  icon="icons/breakpoint.gif"
                  label="Toggle breakpoint  (concurrent)"
                  style="push">
            </command>
         </menuContribution>
      </extension>
      <extension
            point="org.eclipse.ui.startup">
         <startup
               class="org.eclipse.gemoc.execution.concurrent.ccsljavaengine.ui.ModelingWorkbenchEarlyStartup">
         </startup>
      </extension>
      <extension
            point="org.eclipse.ui.views">
	      <category
	            id="org.eclipse.gemoc.executionframework.ui.category"
	            name="Gemoc">
	      </category>

	      <view
	            category="org.eclipse.gemoc.executionframework.ui.category"
	            class="org.eclipse.gemoc.execution.concurrent.ccsljavaengine.ui.views.stimulimanager.StimuliManagerView"
	            icon="icons/IconeGemocModel-16.png"
	            id="org.eclipse.gemoc.gemoc_modeling_workbench.concurrent.ui.views.stimulimanager.StimuliManagerView"
	            name="Stimuli Manager">
	      </view>

	</extension>

</plugin>
